<div class="chat">
  <div class="chat-header clearfix">
    <div class="chat-about">
      <div class="chat-with">{{ id }}</div>
    </div>
  </div>

  <div class="chat-history">
    <ul>
      <!-- Message from Me -->
      <li *ngFor="let m of messages" [ngClass]="{ clearfix: m.id !== id }">
        <div class="message-data" [ngClass]="{ 'align-right': m.id !== id }">
          <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
          <span class="message-data-name">{{ m.id }}</span>
          <span class="me" *ngIf="m.id === id">🟣</span>
        </div>
        <div
          class="message"
          [ngClass]="{
            'float-right': m.id !== id,
            'my-message': m.id === id,
            'other-message': m.id !== id
          }"
        >
          {{ m.message }}
        </div>
      </li>
    </ul>
  </div>

  <div class="chat-message clearfix">
    <textarea
      name="message-to-send"
      id="message-to-send"
      placeholder="Type your message"
      (input)="msg = $event.target?.value"
      rows="3"
      [value]="msg"
    ></textarea>

    <button (click)="sendMessage()">Send</button>
  </div>
  <!-- end chat-message -->
</div>
<!-- end chat -->
