<div class="grid-container">
  <header class="header">
    <div class="header__search">
      Can U Hear me? &nbsp;|&nbsp;<strong>Name:&nbsp;{{ name }}</strong>
      &nbsp;|&nbsp;<strong>Room:&nbsp;{{ room }}</strong>
    </div>
    <div class="header__avatar">🦄</div>
  </header>
  <aside class="sidenav">
    <app-chat
      *ngIf="room !== ''"
      [msg]="msg$ | async"
      (send)="sendMessage($event, 'message')"
    ></app-chat>
  </aside>
  <main class="main">
    <app-join
      *ngIf="room === ''"
      (saveName)="setName($event)"
      (saveRoom)="setRoom($event)"
    ></app-join>

    <app-meeting *ngIf="room !== ''" [events]="meeting$ | async"></app-meeting>
  </main>
  <footer class="footer">
    <div class="footer__copyright">&copy; 2021 webdave_de</div>
    <div class="footer__signature">Made with ❤️ and ☕☕☕</div>
  </footer>
</div>
