<div *ngIf="localStream">
  <button (click)="muteMyself()">🙊</button>
  <button (click)="startCall()">📞</button>
  <button (click)="videoStartStop()">🙈</button>
</div>
<div class="video-grid">
  <div class="video-card" *ngIf="localStream">
    <video
      id="me"
      height="190"
      width="257"
      [srcObject]="localStream"
      muted="true"
      autoplay
    ></video>
    <div class="user-name">{{ name }}</div>
  </div>
  <div class="video-card" *ngFor="let peer of peers | keyvalue">
    <video
      id="me"
      height="190"
      width="257"
      [srcObject]="peer.value.stream"
      autoplay
      muted
    ></video>
    <div class="user-name">{{ peer.value.name }}</div>
  </div>
</div>
